<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/style.css?201812291555"/>
</head>
<body>
<div class="header">
    <h2>Login</h2>
</div>

<form method="post" action="login.html">
    <div class="input-group">
        <label>Username</label>
        <input id="input-ph" type="text" name="userInfo" placeholder="Username or email address" >
    </div>

    <div class="input-group">
        <label>Password</label>
        <input type="password" name="password">
    </div>

    <div class="input-group">
        <button type="submit" class="btn" name="login_user">Login</button>
    </div>
    <p id="message">
        Not yet a member? <a href="register.html">Sign up</a>
    </p>
</form>
<p id="error">
    {$errMessage}
</p>
</body>
</html>